/* App Styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resetButton {
  margin: 15px;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Game Grid Styling */
.grid {
  border: 2px solid black;
  width: 400px;
  height: 320px;
}
.row {
  height: 40px;
  display: flex;
}

/* Cell Styling */
.cell {
  border: 2px solid #000;
  text-align: center;
  font-size: 24px;
  width: 40px;
  background-color: grey;
}
.cellClicked {
  border: 2px solid #000;
  text-align: center;  
  font-size: 24px;
  width: 40px;
  background-color: white;
}
.cellRed {
  border: 2px solid #000;
  text-align: center;
  font-size: 24px;
  width: 40px;
  background-color: red;
}
.cellWasBomb {
  border: 2px solid #000;
  text-align: center;
  font-size: 24px;
  width: 40px;
  background-color: red;
}
.hidden {
  display: none;
  pointer-events: none;
}
.numSpan {
  pointer-events: none;
}
.wasBomb {
  pointer-events: none;
  color: white;
  background-color: red;
}


/* Small Screens */
@media only screen and (max-width: 425px) {
  /* Game Board Styling */
  .grid {
    border: 1px solid black;
    width: 300px;
    height: 240px;
  }
  .row {
    height: 30px;
    display: flex;
  }
  /* Cell styles */
  .cell {
    border: 1px solid #000;
    text-align: center;
    font-size: 14px;
    width: 30px;
    background-color: grey;
  }
  .cellWasBomb {
    border: 1px solid #000;
    text-align: center;
    font-size: 14px;
    width: 30px;
    background-color: red;
  }
  .cellClicked {
    border: 1px solid #000;
    text-align: center;  
    font-size: 14px;
    width: 30px;
    background-color: white;
  }
  .cellRed {
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    width: 30px;
    background-color: red;
  }
}